{% extends '__base.html' %}

{%block title %}Detalle de usuarios{% endblock %}

{% block content %}
{% load static %}
<table class="project-table">
    <tr>
        <td>ID:</td>
        <td>{{ user.pk }}</td>
    </tr>
    <tr>
        <td>Nombre de usuario:</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>{{ user.first_name }}</td>
    </tr>
    <tr>
        <td>Apellido:</td>
        <td>{{ user.last_name }} </td>
    </tr>
    {% if perms.finances.change_movement %}
        <tr>
        {% if user.workercost %}
            <td>Hora normal: {{ user.workercost.normal_cost }}</td>
            <td>Hora extra: {{ user.workercost.extra_cost }}
                <a class="button" href="{% url 'profiles:workercost_update' user.pk %}"> cambiar </a>
            </td>
        {% else %}
                <td>Definir costos por hora</td>
                <td><a class="button" href={% url 'profiles:workercost_create' user.pk %}>Crear</a></td>
        {% endif %}
        </tr>
        <tr>
            <td>Cuentas:</td>
            <td><a class="button" href={% url 'finances:finances_lastmonth' %}?responsable={{user.pk}}>revisar</a></td>
        </tr>
    {% endif %}
    <tr>
        <td>Editar:</td>
        <td><a class="button" href={% url 'profiles:user_update' user.pk %}>editar</a></td>
    </tr>
</table>

<h5>Historial</h5>

<table class="project-table">
    <thead>
        <tr>
            <th>Proyectos</th>
        </tr>
    </thead>
    {% for project in user.project_set.all %}
    <tr>
        <td>
            {{ project.name }}
            <a href="{% url 'projects:project_detail' project.id %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
            </a>
        </td>
    </tr>
    {% endfor %}
    <thead>
        <tr>
            <th>Actividades</th>
        </tr>
    </thead>
    {% for activity in user.activity_set.all %}
    <tr>
        <td>
            {{ activity.name }}
            <a href="{% url 'projects:activity_detail' activity.id %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
        </td>
    </tr>
    {% endfor %}
    <thead>
        <tr>
            <th>Reportes</th>
        </tr>
    </thead>
    {% for report in user.report_responsable.all %}
    <tr>
        <td>
            {{ report.name }}
            <a href="{% url 'projects:report_detail' report.pk %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
            </a>
        </td>
    </tr>
    {% endfor %}
    <thead>
        <tr>
            <th>Requerimientos echos</th>
        </tr>
    </thead>
    {% for req in user.requirements_by.all %}
    <tr>
        <td>{{ req.name }}</td>
    </tr>
    {% endfor %}
    <thead>
        <tr>
            <th>Requerimientos solicitados</th>
        </tr>
    </thead>
    {% for req_to in user.requirements_to.all %}
    <tr>
        <td>{{ req_to.name }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}