<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- CSS CUSTOM -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>inxcontrol | {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="header">
        <h3>INX-CONTROL</h3>
    </div>

{% block content %}
{% endblock %}

<div class="footer">
    <div class="sitemap">
        <div>
            <h5>
                Mapa del sitio
            </h5>
            <ul>
                <li><h4>Perfiles</h4></li>
                <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
                <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
                <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
                <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
            </ul>
            <ul>
                <li><h4>Finanzas</h4></li>
                <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
                {% if perms.finances.change_movement %}
                <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
                <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
                <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
                {% endif %}
            </ul>
            <ul>
                <li><h4>Proyectos</h4></li>
                <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
                <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
                <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
                <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
                <li><a class="button" href="{% url 'projects:report_create' %}">Nuevo Reporte</a></li>
            </ul>
        </div>
        <form method=POST action={% url 'projects:all_search' %}>
            {% csrf_token %}
            <input
            type="search"
            placeholder="Buscar"
            aria-label="Search"
            name="valuesearch">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

</body>