:root {
    /* CSS HEX */
    --e-global-color-primary: #BAFF39;
    --e-global-color-secondary: #383838;
    --e-global-color-text: #6E6E6E;
    --e-global-color-accent: #61CE70;
    --e-global-color-f57dbdc: #BAFF39;
    --e-global-color-ccf4557: #383838;
    --cadet-gray: #6E6E6E;
    --battleship-gray: #61CE70;
    --dim-gray: #BAFF39;
    --taupe: #BAFF39;
    --bistre: #383838;
}
body {
    max-width: 1000px;
    font: normal 12px/16px "Eina", Helvetica, Arial, sans-serif;
    background-color: var(--e-global-color-ccf4557);
    color: var(--battleship-gray);
}
.header {
    display: flex;
    width:100%;
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary);
    text-align: center;
    padding: 8px;
}
.topnav {
    overflow: hidden;
    background-color: var(--e-global-color-secondary);
}
.topnav a {
    float: left;
    display: block;
    color: var(--e-global-color-text);
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: var(--e-global-color-accent);
    color: black;
}
h3 {
    font: bold normal 24px/32px "Eina", Helvetica, Arial, sans-serif;
    color: #BAFF39;
    margin: 16px 0;
}
h4 {
    font: bold normal 24px/32px "Eina", Helvetica, Arial, sans-serif;
    color: #BAFF39;
    margin: 12px 0;
}
h5 {
    font-size: medium;
}
.footer {
    background-color: var(--e-global-color-ccf4557);
    text-align: left;
    padding: 10px;
}
.sitemap {
    overflow: hidden;
    background-color: var(--e-global-color-secondary);
    display: flex;
}
.sitemap ul {
    list-style: none;
}
.sitemap a {
    float: left;
    color: var(--e-global-color-text);
    text-align: right;
    padding: 7px 8px;
    text-decoration: none;
}
.sitemap a:hover {
    background-color: var(--e-global-color-accent);
    color: black;
}/* 
table, th, td {
    border-bottom: 2px solid;
    border-collapse: collapse;
    color: var(--battleship-gray);
    padding: 4px 4px;
} */
.compact-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.compact-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.compact-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.compact-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.compact-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.compact-table tbody tr:hover {
    background-color:#003026;
    color: #00f1c1;
}

.compact-table td{
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.compact-table.subtitle{
    background-color: #313131;
    color: #acacac;
    text-align: center;
}

.project-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.project-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.project-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.project-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.project-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.project-table tbody tr.negative {
    color: #f10000;
}

.project-table tbody tr:hover {
    background-color:#003026;
    color: #00f1c1;
}

.calendar{
    border: 1px solid;
    color: var(--battleship-gray);
    padding: 4px 4px;
}
.calendar-content{
    border: 1px solid;
    color: var(--battleship-gray);
    padding: 4px 4px;
    text-align: left;
}
.calendar-content li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.button {
    background-color: #4d606b;
    border: none;
    border-radius: 4px;
    color: rgb(223, 223, 223);
    padding: 2px 8px;
    font: bold normal 10px/12px "Eina", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #086299;
}
.button-active {
    background-color: #119600;
    border: none;
    border-radius: 4px;
    color: rgb(223, 223, 223);
    padding: 2px 8px;
    font: bold normal 10px/12px "Eina", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
}
.button-active:hover {
    background-color: #008035;
}
.resp-table {
    width: 100%;
    display: table;
}
.resp-table-header{
    display:table-header-group;
    background-color: #3f3f3f;
    font-weight: bold;
    font-size: 15px;
}
.table-header-cell{
    display:table-cell;
    padding: 2px;
    text-align: center;
}
.resp-table-body{
    display: table-row-group;
}
.resp-table-row{
    display:table-row;
}
.resp-table-cal-row{
    display:table-row;
}
.resp-table-cal-row ul{
    list-style: none;
    padding-left: 4px;
    list-style-position: outside ;
}
.table-body-cell{
    display:table-cell;
}
.table-body-cal-cell{
    display:table-cell;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.table-body-cal-cell:hover{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    display:table-cell;
}
.resp-table-row:hover{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.table-body-id-cell{
    display:table-cell;
    text-align: center;
}
.table-body-action-cell{
    display:table-cell;
    text-align: center;
}
.resp-table-footer{
    display:table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 13;
}
.table-footer-cell{
    display: table-cell;
    padding: 3px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.action-buttons{
    display:flexbox;
    width:100%;
    background-color: #3f3f3f;
    padding: 4px;
    margin-top: 10px;
}

form{
    max-width: 400px;
}
input{
    background-color: #a1a1a1;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
}

input[type=checkbox]{
    display: inline;
    width:20%;
    padding: 4px 4px;
    grid-template-columns: 1em auto;
    gap:0.5em;
}

label[for=id_payment]:before{
    content:"\a";
    white-space: pre;
}

input[type=text], input[type=date], input[type=number] {
    width:100%;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=button], input[type=submit], input[type=reset] {
    width:100%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}
label[for=id_responsable]{
    display: block;
}
textarea{
    width:100%;
    box-sizing: border-box;
    background-color: #a1a1a1;
    padding: 18px 18px;
    margin: 8px 0px;
    border-radius: 8px;
}
select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #a1a1a1;
}
.thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail img{
    display: inline-block;
    height: 80px;
    padding: 3px;
}

/* container */
.responsive-two-column-grid {
    display:block;
    border-radius: 12px;
    box-shadow: #00f1c1 1.95px 1.95px 2.6px;
}

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

.responsive-two-column-grid ul{
    padding-left: 0.5rem;
    list-style-type: none;
}

.responsive-two-column-grid ul li{
    padding-left: 0.5rem;
}

.responsive-two-column-grid a{
    text-decoration: none;
    color:#00a887
}

.responsive-two-column-grid b{
    color: rgb(133, 133, 133);
}
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
#progress {
    width: 100px;   
    border: 2px solid rgb(16, 49, 0);
    position: relative;
    padding: 2px;
   }
   
   #percent {
    position: absolute;   
    left: 105%;
   }
   
   #bar {
    height: 10px;
    background-color: rgb(0, 27, 145);
    width: 10%;
   }

.searchlist ul li{
    list-style: none;
    padding-left: 4px;
    list-style-position: outside ;
}

.colincl {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(200deg);
}


.print-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.print-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.print-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.print-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.print-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.print-table td{
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.print-table.subtitle{
    background-color: #313131;
    color: #acacac;
    text-align: center;
}

.print-table-first-col{
    width: 200px;
}
.print-table-second-col{
    width: 400px;
}
.print-table-tird-col{
    width: 300px;
}


    /* CSS HEX 
    --cadet-gray: #2b59c3ff;
    --battleship-gray: #253c78ff;
    --dim-gray: #d36582ff;
    --taupe: #ffeecfff;
    --bistre: #c9a690ff;
    --e-global-color-primary: #BAFF39;
    --e-global-color-secondary: #383838;
    --e-global-color-text: #6E6E6E;
    --e-global-color-accent: #61CE70;
    --e-global-color-f57dbdc: #BAFF39;
    --e-global-color-ccf4557: #383838;
    
    */