{% extends '__base.html' %}

{%block title %}Detalle de cliente{% endblock %}

{% block content %}
<ul>
    <li>ID: {{ client.pk }}</li>
    <li>Nombre: {{ client.name }}</li>
    <li>Estado: {{ client.get_status_display }}</li>
    <li>Calificacion: {{ client.score }}</li>
    <li>Contactos:
        <ul>
            {% for contact in client.clientcontact_set.all %}
            <li>{{ contact }} | tel: {{ contact.phone }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
<table class="project-table">
    <thead>
        <tr>
            <th>FECHA</th>
            <th>TRABAJADORES</th>
        </tr>
    </thead>
    {% for worktime in client.workerstime_set.all %}
        <tr>
            <td>{{ worktime.workdate }}</td>
            <td>
                <table class="project-table">
                    {% for worker in worktime.worker.all %}
                    <tr>
                    <td>{{ worker.last_name }}, {{ worker.first_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endfor %}
</table>

<a class="button" href="{% url 'profiles:clientcontact_create' %}?client={{client.pk}}">Agregar contacto</a>
<a class="button" href="{% url 'profiles:client_update' client.pk %}">Editar</a>
{% endblock %}