{% extends '__base.html' %}

{%block title %}Detalle de contacto{% endblock %}

{% block content %}
<p>
{{ clientcontact.pk }}
</p>
<p>
{{ clientcontact.name }}
</p>
<p>
{{ clientcontact.phone }}
</p>
<p>
{{ clientcontact.client }}
</p>
<p>
{{ clientcontact.notes }}
</p>
<a href="{% url 'profiles:clientcontact_update' clientcontact.pk %}">editar</a>
{% endblock %}