{% extends '__base.html' %}

{%block title %}Lista de contactos{% endblock %}

{% block content %}
<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">Contacto</th>
            <th scope="col">Cliente</th>
        </tr>
    </thead>
    {% for contact in clientcontact_list %}
    <tr>
        <td scope="row"><a href = "{% url 'profiles:clientcontact_detail' contact.pk %}">{{contact}}</a></td>
        <td scope="row">{{contact.client}} </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><a href="{% url 'profiles:clientcontact_create' %}">Crear contacto</a></td>
    </tr>
</table>

{% endblock %}