{% extends '__base.html' %}

{%block title %}Detalle de proveedor{% endblock %}

{% block content %}
<table class="project-table">
    <tr>
        <td>ID:</td>
        <td>{{ supplier.pk }}</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>{{ supplier.name }}</td>
    </tr>
    <tr>
        <td colspan="2">Contactos del proveedor</td>
    </tr>
    <tr>        <td colspan="2">
            <table class="project-table">
                {% for contact in supplier.suppliercontact_set.all %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

<a class="button" href="{% url 'profiles:suppliercontact_create' %}">agregar contacto</a> |
<a class="button" href="{% url 'profiles:supplier_update' supplier.pk %}">editar</a>
{% endblock %}