{% extends '__base.html' %}

{%block title %}Detalle de contacto{% endblock %}

{% block content %}
<p>
{{ suppliercontact.pk }}
</p>
<p>
{{ suppliercontact.name }}
</p>
<p>
{{ suppliercontact.phone }}
</p>
<p>
{{ suppliercontact.supplier }}
</p>
<p>
{{ suppliercontact.notes }}
</p>
<a href="{% url 'profiles:suppliercontact_update' suppliercontact.pk %}">editar</a>
{% endblock %}