{% extends '__base.html' %}

{%block title %}Formulario de costo de trabajador{% endblock %}

{% block content %}
<h5>
    Editar el costo por hora para <b>{{ user.last_name|title}}, {{user.first_name|title}}</b>
</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Registrar">
</form>
{% endblock %}