{% extends '__base.html' %}

{%block title %}Registros de tiempo{% endblock %}

{% block content %}
{% load static %}

<div class="resp-table">
    <div class="resp-table-header">
        <div class="table-header-cell">Proyecto | Actividad</div>
        {% for week_date in week_dates %}
        <div class="table-header-cell">{{week_date|date:'Y-m-d'}}</div>
        {% endfor %}
    </div>
    <div class="resp-table-body">
        {% for day in calendar_table %}
            <div class="resp-table-cal-row">
            {% for activity in day %}
                    {% if activity.id %}
                        <div class="table-body-id-cell">
                            {{ activity.project }}</br>
                            {{ activity.name }}
                        </div>
                    {% else %}
                    <div class="table-body-cal-cell">
                        <ul>
                        {% for report in activity %}
                        ID:{{report.pk}}, Horas: {{ report.duration }}
                            <a href="{% url 'projects:report_detail' report.pk %}">
                                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
                            <a href="{% url 'projects:report_update' report.pk %}">
                                <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
                            {% for worker in report.workers.all %}
                                <li>{{ worker.last_name }}, {{ worker.first_name}}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
        {% if previous_week %}
        <a class="button" href="{% url 'profiles:workertime_week' previous_week|date:'Y' previous_week|date:'W' %}">
            Año: {{ previous_week|date:'Y' }} Semana: {{ previous_week|date:'W' }}
        </a>
        {% endif %}
        {% if next_week %}
        <a class="button" href="{% url 'profiles:workertime_week' next_week|date:'Y' next_week|date:'W' %}">
        Año: {{ next_week|date:'Y' }} Semana: {{ next_week|date:'W' }}
        </a>
        {% endif %}
{% endblock %}