{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Lista de asistencia
{% endblock title %}

{% block content %}

<h3>
desde {{ inicio }} hasta {{ final }}
</h3>


<table class="project-table">
    <thead>
        <tr>
            <th scope="col">
                Nombre
            </th>
            {% for each_day in days %}
            <th scope="col" class="colincl">
                {{ each_day|date:'Y-m-d' }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for user in calendar %}
    <tr>
        <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
        {% for day in user.hours %}
        <td scope="row">
        {% if day > 0 %}
            {{day|floatformat}}
        {% else %}
             - - 
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}