{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Lista de asistencia
{% endblock title %}

{% block content %}

<div class="col col-lg-3">
    <form method="post">
        {% csrf_token %}
        {{form.as_table}}
        <input class="btn btn-primary mb-3" type="submit" value="Crear reporte">
    </form>
</div>

<h4>
Resultado
</h4>
{% if inicio %}
<h3>
desde {{ inicio }} hasta {{ final }}
</h3>


<table class="project-table">
    <thead>
        <tr>
            <th scope="col">
                Nombre
            </th>
            {% for each_day in days %}
            <th scope="col" class="colincl">
                {{ each_day|date:'Y-m-d' }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for user in calendar %}
    <tr>
        <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
        {% for day in user.hours %}
        <td scope="row">
        {% if day > 0 %}
            {{day|floatformat}}
        {% else %}
             - - 
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>
Ingrece un rango de fechas
</h3>
{% endif %}
{% endblock content %}