{% extends '__base.html' %}

{% block title %}
    Borrar movimiento
{% endblock title %}

{% block content %}
<h1>¿Estas seguro de borrar el siguiente movimiento?</h1>
<ul>
    <li>ID: {{movement.id}}</li>
    <li>PROVEEDOR: {{movement.payee}}</li>
    <li>MONTO: $ {{movement.amount|stringformat:"2.2f"}}</li>
    <li>DESCRIPCIÓN: {{movement.description}}</li>
</ul>
<form method='POST'>
    {% csrf_token %}
    <input class="button" type="submit" value="BORRAR">
</form>

{% endblock content %}

{% block scripts %}
{% endblock %}