{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Movimientos
{% endblock title %}

{% block content %}

<div class="col col-lg-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_table}}
        <input class="btn btn-primary mb-3" type="submit" value="Enviar">
    </form>
</div>

<div class="col col-lg-9">
    <h3>Balance del mes actual</h3>
    <p>
        Total facturable: ${{total_fact|floatformat:"2g"}}
    </p>
    <p>
        Total no facturable: ${{total_no_fact|floatformat:"2g"}}
    </p>

    <h3>Movimientos facturables</h3>
    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Día</th>
                <th scope="col">Descripción</th>
                <th scope="col">Monto</th>
                <th scope="col">Pagado</th>
                <th scope="col">Archivo</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in invoice %}
        <tr {% if reg.amount < 0 %}
        class="negative"
        {% endif %}>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date|date:"d" }}</td>
            {% if reg.description|wordcount > 10 %}
            <td scope="col" title="{{ reg.description }}">
                    {{ reg.description|truncatewords:'10' }}
            </td>
            {% else %}
            <td scope="col">{{ reg.description }}</td>
            {% endif %}
            <td scope="col">{{ reg.amount|floatformat:"2g" }}</td>
            <td scope="col">
                {% if reg.payment %}
                    &#9745; 
                {% else %}
                    &#9744;
                {% endif %}
            <td scope="col">
                {% if reg.files %}
                <a href="{{ reg.files.url }}">{{reg.files|filename}}</a>
                {% endif %}
            </td>
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">&#9249;</a></th>
        </tr>
        {% endfor %}
    </table>

    <h3>Movimientos NO facturables</h3>

    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Día</th>
                <th scope="col">Description</th>
                <th scope="col">Monto</th>
                <th scope="col">Pago</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in no_invoice %}
        <tr {% if reg.amount < 0 %}
        class="negative"
        {% endif %}>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date|date:"d" }}</td>
            {% if reg.description|wordcount > 10 %}
            <td scope="col" title="{{ reg.description }}">
                    {{ reg.description|truncatewords:'10' }}
            </td>
            {% else %}
            <td scope="col">{{ reg.description }}</td>
            {% endif %}
            <td scope="col">${{ reg.amount|floatformat:"2g" }}</td>
            <td scope="col">
                {% if reg.payment %}
                    &#9745;    
                {% else %}
                    &#9744;
                {% endif %}
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">&#9249;</a></th>
        </tr>
        {% endfor %}
    </table>
</div>

<a class="button" href="{% url 'finances:finances_lastmonth' %}">
    Historico
</a>

{% endblock content %}

{% block scripts %}
{% endblock %}