{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Lista de asistencia
{% endblock title %}

{% block content %}


<h4>
    {{ proyecto }}
</h4>
    
    
    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">
                    Nombre
                </th>
                {% for each_day in days %}
                <th scope="col" class="colincl">
                    {{ each_day|date:'Y-m-d' }}
                </th>
                {% endfor %}
                <th scope="col" class="colincl">
                    TOTAL
                </th>
                <th scope="col" class="colincl">
                    COSTO
                </th>
            </tr>
        </thead>
        <tr>
            <th scope="row" colspan="{{table_col}}">
                HORARIO NORMAL
            </th>
            <th scope="row">
                {{ total_horas_normal|floatformat }}
            </th>
            <th scope="row">
                ${{ total_costo_normal|floatformat:'2g' }}
            </th>
        </tr>
        {% for user in calendar_normal %}
        <tr>
            <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
            {% for day in user.hours %}
            <td scope="row">
                {% if day > 240 %}
                    ${{day|floatformat:'2g'}}
                {% elif day > 0 %}
                    {{day|floatformat}}
            {% else %}
                 - - 
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% if calendar_extra %}
        <tr>
            <th scope="row" colspan="{{table_col}}">
                TIEMPO EXTRA
            </th>
            <th scope="row">
                {{ total_horas_extra|floatformat }} 
            </th>
            <th scope="row">
                 ${{ total_costo_extra|floatformat:'2g' }}
            </th>
        </tr>
        {% for user in calendar_extra %}
        <tr>
            <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
            {% for day in user.hours %}
            <td scope="row">
            {% if day > 240 %}
                ${{day|floatformat:'2g'}}
            {% elif day > 0 %}
                {{day|floatformat}}
            {% else %}
                 - - 
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <th scope="row" colspan="{{table_col}}">
                GRAN TOTAL
            </th>
            <th scope="row">
                {{ total_horas|floatformat }} 
            </th>
            <th scope="row">
                 ${{ total_costo|floatformat:'2g' }}
            </th>
        </tr>
    </table>

{% endblock content %}