{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
Resumen de viaticos
{% endblock title %}

{% block content %}
{% load static %}
<div class="col col-lg-9">
    <h3>
        Resumen de viaticos
    </h3>
    <p>
        {% for each in resumen %}
        <p> 
            <a href="{% url 'finances:finances_lastmonth' %}?responsable={{each.pk}}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
            {{each.last_name}}, {{each.first_name}}: $ {{each.total|stringformat:"2.2f"}}
        </p>
        {% endfor %}
    </p>
{% endblock %}