{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Movimientos
{% endblock title %}

{% block content %}

<div class="col col-lg-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_table}}
        <input class="btn btn-primary mb-3" type="submit" value="Actualizar">
    </form>
</div>
<h4>
Resultado 
{% if inicio %}
desde {{ inicio }} hasta {{ final }}
{% else %}
todo el tiempo
{% endif %}
</h4>
{% for r in result %}
<p>{{ r.horas_de_proyecto }} Horas en el proyecto{{ r.nombre_de_proyecto }}</p>
<ul>
{% for u in r.horas_por_trabajador %}
<li>{{u.time }} de {{ u.name }}</li>
{% endfor %}
</ul>
{% endfor %}
{% endblock content %}