{% extends '__base.html' %}

{% block title %}
    Borrar actividad
{% endblock title %}

{% block content %}

<p>Seguro de borrar la actividad: ID:{{activity.pk}} nombre:{{activity.name}}</p>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Borar">
</form>

{% endblock content %}