{% extends '__base.html' %}

{% block title %}
    Borrar avance de actividad
{% endblock title %}

{% block content %}

<p>Seguro de borrar el avance {{activityprogress.name}} de la actividad {{activityprogress.activity.name}}</p>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Borar">
</form>

{% endblock content %}