{% extends '__base.html' %}

{% block title %}
    Lista de Actividades
{% endblock title %}

{% block content %}

{% regroup activity_list by project as project_list %}

<a class='button' href="{% url 'projects:activity_create' %}">Nueva actividad</a>
<a class='button' href="?status=1">Activas</a>
<a class='button' href="{% url 'projects:activity_list' %}">Lista extendida</a>
<a class='button' href="?type=1">Solo planeadas</a>
<a class='button' href="?type=0">Solo adicionales</a>
<a class='button' href="?status=0">Todos</a>
{% load static %}
<table class="compact-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <th scope="col">Responsable</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    {% for project in project_list %}
        <tr><td class="compact-table subtitle" colspan='6'>{{ project.grouper }}</td><tr>
        {% for activity in project.list %}
            <tr>
                <td scope="col">
                    <a href="{% url 'projects:activity_detail' activity.pk %}">
                        <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" /></a>
                    {{activity.pk|stringformat:"03d"}} 
                </td>
                <td scope="col">{{activity.date|date:'d-m-Y'}}</td>
                <td scope="col">{{activity.end_date|date:'d-m-Y'}}</td>
                <td scope="col">{{activity.incharge.first_name}} {{activity.incharge.last_name}}</td>
                <td scope="col">{{activity.name}}</td>
                <td scope="col">{{activity.description}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">sigueinte</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">sigueinte</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}