{% extends '__base.html' %}

{% block title %}
    Detalle de actividad
{% endblock title %}

{% block content %}
{% load static %}
<h3>Actividad {{activity.id|stringformat:"03d"}}: {{activity.name}}</h3>

<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>Desde: </b>{{activity.date|date:'d-m-Y'}}</li>
            <li><b>Hasta: </b>{{activity.end_date|date:'d-m-Y'}}</li>
            <li>
                <b>Proyecto: </b>
                {% if activity.project %}
                    {{activity.project|truncatewords:'4'}}
                    <a href="{% url 'projects:project_detail' activity.project.pk %}">
                        <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                    </a>
                {% endif %}
            </li>
            <li>
                <b>Responsable: </b>
                {% if activity.incharge %}
                {{activity.incharge.first_name}} {{activity.incharge.last_name}}
                <a href="{% url 'profiles:user_detail' activity.incharge.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            <li><b>Fin: </b>{{activity.end_date|date:'d-m-Y'}}</li>
            <li><b>Tipo: </b>{{activity.get_type_display|title}}</li>
            <li><b>Estado: </b>{{activity.get_status_display|title}}</li>
            <li><b>Acciones</b>
                            <a class='button' href="{% url 'projects:activity_detail' activity.id %}">detalle</a>
                            <a class='button' href="{% url 'projects:activity_update' activity.id %}">Editar</a>
                            <a class='button' href="{% url 'projects:activity_delete' activity.id %}">Borrar</a></li>
            <li><b>MEDICIONES:</b></li>
            <ul>
                {% for activityprogress in progress %}
                    <li>
                        {{ activityprogress.name }}: 
                        {% if activityprogress.total %}
                            {{ activityprogress.total|floatformat }} 
                        {% else %}
                            0 
                        {% endif %}
                        de {{activityprogress.goal|floatformat}} {{ activityprogress.unit}}
                        <a href="{% url 'projects:activityprogress_update' activityprogress.id %}">
                            <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                        </a>
                        <a href="{% url 'projects:activityprogress_delete' activityprogress.id %}">
                            <img src = "{% static 'icons/icons-delete.svg' %}" alt="delete-icon"/>
                        </a>
                        
                        <div id="progress">
                            <span id="percent">{{activityprogress.percent}}%</span>
                            <div id="bar" style="width: {{ activityprogress.percent }}%;"></div>
                        </div>
                    </li>
                {% endfor %}
                <li> <a class='button' href="{% url 'projects:activityprogress_create' activity.id %}">Agregar</a> </li>
            </ul>
            <li><b>REPORTES: </b></li>
            <ul>
                {% for report in activity.report_set.all%}
                    <li>
                        <a href="{% url 'projects:report_detail' report.pk %}">{{ report.date }}.- 
                            {% if report.name %}
                                {{ report.name }}
                            {% else %}
                                {% for progress in report.reportprogress_set.all %}
                                    {{ progress.amount|floatformat }} de {{ progress.activityprogress.amount|floatformat }} {{ progress.activityprogress.unit }}, 
                                {% endfor %}
                            {% endif %}
                        </a>, 
                    </li>
                {% endfor %}
                <li><a class="button" href="{% url 'projects:report_create' %}?activity={{activity.pk}}">Nuevo reporte</a></li>
            </ul>
        </ul>
    </div>
    <div>
        <b>Nombre: </b>{{activity.name}}</br>
        <b>Descripción: </b>{{ activity.description|linebreaks}}</br>
        <div class='thumbnail'>
        {% for report in activity.report_set.all%}
            {% for photo in report.photo_set.all %}
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>
</br>

{% endblock content %}