{% extends '__base.html' %}

{% block title %}
    Detalle de proyecto
{% endblock title %}

{% block content %}
{% load static %}
<h3>CC-INX-{{project.cc_number|stringformat:"03d"}}.- {{project.name}}</h3>
<a class='button' href="{% url 'projects:project_update' project.pk %}">EDITAR</a>
<a class='button' href="{% url 'projects:report_update' project.pk %}">BORRAR</a>
<a class='button' href="{% url 'projects:activity_create'%}?project={{project.pk}}">CREAR ACTIVIDAD</a>
{% if perms.finances.change_movement %}
<a class='button' href="{% url 'finances:projectattendance_report' project.pk%}">REPORTE</a>
{% endif %}

<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>Fecha de inicio: </b>{{project.date|date:'d-m-Y'}}</li>
            <li><b>Fecha final: </b>{{project.end_date|date:'d-m-Y'}}</li>
            <li><b>Cliente: </b>{{project.client|title}}</li>
            <li><b>Responsable: </b>{{project.manager.last_name|title}}, {{project.manager.first_name|title}}</li>
            <li><b>Estado: </b>{{project.get_status_display|title}}</li>
            <li><b>REGISTROS:</b>
            <ul>
            {% for activity in project.activity_set.all %}
                <li>
                    <a href="{% url 'projects:activity_detail' activity.pk %}">
                    Actividad: {{ activity.name }}
                    </a>
                </li>
                <ul>
                    {% for report in activity.report_set.all%}
                        <li>
                            <a href="{% url 'projects:report_detail' report.pk %}">{{ report.date }}.- {{ report.name }}</a>, 
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
            </li>
        </ul>
    </div>
    <div>
        <b>Fotos: </b>
        <div class='thumbnail'>
        {% for activity in project.activity_set.all %}
            {% for report in activity.report_set.all%}
                {% for photo in report.photo_set.all %}
                    <div>
                        <a href="{{photo.pictures.url}}">
                            {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>
</br>

{% endblock content %}