{% extends '__base.html' %}

{% block title %}
    Lista de reportes
{% endblock title %}

{% block content %}

<h4>Todos los reportes del dia {{ day }}</h4>

{% load static %}
{% for report in reports %}
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>ID / Fecha: </b>{{report.pk|stringformat:"04d"}} / {{report.date|date:'d-m-Y'}}</li>
            <li><b>Titulo: </b>
                {{report.name}}
                <a href="{% url 'projects:report_update' report.pk %}">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                </a>
                <a href="{% url 'projects:report_detail' report.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
                </a>
                </a>
                <a href="{% url 'projects:report_delete' report.pk %}">
                    <img src = "{% static 'icons/remove.png' %}" alt="remove-icon" width="15" />
                </a>
            </li>
            <li><b>Responsable: </b>{{report.responsable.last_name}} {{report.responsable.first_name}}</li>
            <li><b>Proyecto: </b>{{report.activity.project}}</li>
            <li><b>Actividad: </b>{{report.activity.name}}</li>
            <li><b>Avance: </b>
                {% for progress in report.reportprogress_set.all %}
                    {{ progress.amount|floatformat }} de {{ progress.activityprogress.amount|floatformat }} {{ progress.activityprogress.unit }}, 
                {% endfor %}
            </li>
            {% if report.workers.all %}
            <li><b>TRABAJADORES:</b>
                <ul>
                    {% for worker in report.workers.all %}
                    <li>
                        {{ worker.last_name }} {{ worker.first_name }}, 
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
        
    </div>
    <div>
        <b>Descripción: </b>
        {{report.description|linebreaks}}
            <b>Duración: </b>{{report.duration}}
            <b>Tiempo muerto: </b>{{report.deadtime}} <b>min</b>  {{report.get_deadtimereason_display}}<br>
        <div class='thumbnail'>
            {% for photo in report.photo_set.all %}
                <div>
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% if previous_day %}
<a class="button" href="{% url 'projects:report_dayarchive' previous_day|date:'Y' previous_day|date:'b' previous_day|date:'d' %}">
    Dia anterior: {{ previous_day|date:'Y-b-d' }}
</a>
{% endif %}
{% if next_day %}
<a class="button" href="{% url 'projects:report_dayarchive' next_day|date:'Y' next_day|date:'b' next_day|date:'d' %}">
    Dia siguiente: {{ next_day|date:'Y-b-d' }}
</a>
{% endif %}

{% endblock content %}