{% extends '__base.html' %}

{% block title %}
    Lista de reportes
{% endblock title %}

{% block content %}

<a class='button' href="{% url 'projects:report_create' %}">Nuevo reporte</a>

{% for report in report_list %}
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>ID / Fecha: </b>{{report.pk|stringformat:"04d"}} / {{report.date|date:'d-m-Y'}}</li>
            <li><b>Titulo: </b>{{report.name}}</li>
            <li><b>Responsable: </b>{{report.responsable.last_name}} {{report.responsable.first_name}}</li>
            <li><b>Proyecto: </b>{{report.activity.project}}</li>
            <li><b>Actividad: </b>{{report.activity.name}}</li>
            {% if report.workers.all %}
            <li><b>TRABAJADORES:</b>
                <ul>
                    {% for worker in report.workers.all %}
                    <li>
                        {{ worker.last_name }} {{ worker.first_name }}, 
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li>
                <b>Acciones: </b><a class='button' href="{% url 'projects:report_update' report.pk %}">EDITAR</a>
                  <a class='button' href="{% url 'projects:report_detail' report.pk %}">DETALLE</a>
            </li>
        </ul>
        
    </div>
    <div>
        <b>Descripción: </b>
        {{report.description|linebreaks}}
            <b>Duración: </b>{{report.duration}}
            <b>Tiempo muerto: </b>{{report.deadtime}} <b>min</b>  {{report.get_deadtimereason_display}}<br>
        <div class='thumbnail'>
            {% for photo in report.photo_set.all %}
                <div>
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">sigueinte</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">sigueinte</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}