{% extends '__base.html' %}

{% block title %}
    Formulario 2 de reporte
{% endblock title %}

{% block content %}

<h3>Indica el avance de la actividad:</h3>
<p>El avance que hubo durante el periodo del reporte</p>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Agregar">
</form>

{% endblock content %}