{% extends '__base.html' %}

{% block title %}
    Confirmar borrado
{% endblock title %}

{% block content %}

<p>
    Seguro de borrar el progreso: 
    {{reportprogress.activityprogress.name}} de {{reportprogress.amount}} en el reporte {{reportprogress.report.name }}</p>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Borar">
</form>

{% endblock content %}