{% extends '__base.html' %}

{% block title %}
    Lista de requerimeintos
{% endblock title %}

{% block content %}
{% load static %}

{% with s=request.GET.status%}
<a class="button" href="{% url 'projects:requirement_create' %}">Nuevo requerimiento</a>
<a class="button{% if request.GET.mios %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?mios=True">Hacia mi</a>
<a class="button{% if '0' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=0">Pendientes</a>
<a class="button{% if '1' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=1">Completados</a>
<a class="button{% if '2' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=2">Cancelados</a>
{% endwith %}
<table class="project-table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Qty</th>
            <th scope="col">Unidad</th>
            <th scope="col">Actividad</th>
            <th scope="col">De</th>
            {% if request.GET.mios %}
            <th scope="col">Estado</th>
            {% else %}
            <th scope="col">Para</th>
            {% endif %}
            <th scope="col">Soli</th>
            <th scope="col">Entr</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    {% for requirement in requirements_list %}
        <tr>
            <td scope="col">{{requirement.name|truncatewords:'7'}}</td>
            <td scope="col">{{requirement.description}}</td>
            <td scope="col">{{requirement.amount}}</td>
            <td scope="col">{{requirement.unit}}</td>
            <td scope="col">CC-INX-{{requirement.activity.project.pk}} | {{requirement.activity.name}}</td>
            <td scope="col">{{requirement.by.last_name|title}} {{requirement.by.first_name|title}}</td>
            {% if request.GET.mios %}
            <th scope="col">{{requirement.get_status_display}}</th>
            {% else %}
            <td scope="col">{{requirement.to.last_name|title}} {{requirement.to.first_name|title}}</td>
            {% endif %}
            <td scope="col">{{requirement.request_date|date:'d M'}}</td>
            <td scope="col">{{requirement.supply_date|date:'d M'}}</td>
            <td scope="col">
                <a href="{% url 'projects:requirement_update' requirement.pk %}" title="Editar requerimiento">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
                {% if '0' in request.GET.status %}
                <a href="{% url 'projects:requirement_complete' requirement.pk %}" title="Completar requerimiento">
                    <img src = "{% static 'icons/icons-complete.png' %}" alt="detail-icon" width="15" /></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">sigueinte</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">sigueinte</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}